html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: lightyellow;
}

header {
  margin-top: -20px;
  background-color: #ADE2D0ff;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 70px 20px 20px 20px;
}

nav {
  text-align: right;
}

@keyframes moveShip {
  0% {
    transform: translate3d(-400px, 0, 0);
  }
  100% {
    transform: translate3d(1900px, 0, 0);
  }
}

.PX {
  position: relative;
  margin-top: -120px;
  animation: moveShip linear infinite 5s;
}

nav a:hover {
  color: yellow;
}




/* -----------------------------------------------------------HEADER----------------------------------------------------- */


.title-font {
  display: block;
  margin-left: 50px;
  }
  
  .goodnews {
    display: block;
    margin-top: -50px;
    margin-left: 1290px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

.charselect {
  margin-left: 180px;
}

.searchtag {
  margin-left: 300px;
  padding-top: 90px;
}

.quotes {
  margin-left: 820px;
  padding-top: 90px;
}

.video {
text-align: right;
}

#select-character {
  margin-left: 320px;
}

.qpage {
    margin: 30px 500px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px 50px 200px 50px;
    border-radius: 60%;
    
}
/* -----------------------------------------------------------FOOTER----------------------------------------------------- */

footer {
  padding: 10px;
  background-color: #ADE2D0ff;
  margin-bottom: -25px;
}

h6 {
  text-align: center;
}