html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: lightyellow;
}

header {
  margin-top: -20px;
  background-color: #ADE2D0ff;
  margin-bottom: 10px;
  max-width: auto;
  max-height: 20vh;
  display: block;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 70px 20px 20px 20px;
}

nav {
  text-align: right;
}


@keyframes moveShip {
  0% {
    transform: translate3d(-375px, 0, 0);
  }
  100% {
    transform: translate3d(1800px, 0, 0);
  }
}

.PX {
  /* position: relative; */
  margin-top: -7vh;
  width: 20%;
  animation: moveShip linear infinite 5s;
}


.title-font {
  position: absolute;
  z-index: 1;
  left: 31vw;
  top: 0vh;
  bottom: 1vh;
  width: 28%;
  height: auto;
  }

.watch {
  position: absolute;
  z-index: 1;
  right: 1vw;
}
  
.goodnews {
  position: absolute;
  left: 67vw;
  width: 28%;
  height: auto;
  top: 20vh;
  }

  
.video {
  position: absolute;
  left: 67vw;
  top: 25vh;
  width: 30%;
  height: 40vh;
  }

.charselect {
  position: absolute;
  left: 6vw;
  top: 20vh;
  width: 35%;
  height: auto;
}


form {
  position: absolute;
  left: 16vw;
  top: 30vh;
  width: 100%;
  height: auto;
}

.quotes {
  position: relative;
  top: 78vh;
  display: flex;
  align-items: flex;
  justify-content: center;
}

#btn {
  background: none;
  border: none;
}

#qpage {
  position: absolute;
  bottom: -15vh;
  left: 63vw;
  padding: 5vw;
  border: 3px solid black;
  border-radius: 60%;
  width: 16%;
  height: auto;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

#data-container {
  position: absolute;
  left: 5vw;
  top: 32vh;
}

.picture {
  width: 400px;
  height: 600px;
}


.species {
  position: relative;
  top: -66vh;
  left: 27vw;
}

.planet{
  position: relative;
  top: -66vh;
  left: 27vw;
}

.voiced {
  position: relative;
  top: -65vh;
  left: 27vw;
}

.profession {
  position: relative;
  top: -64vh;
  left: 27vw;
  max-width: 35%;
}

footer {
  position: relative;
  top: 95vh;
  margin-top: 20px;
  margin-bottom: -25px;
  padding-bottom: 95px;
  background-color: #ADE2D0ff;
}

h6 {
  position: relative;
  text-align: center;
  bottom: -3vw;
}

/* --------------------------------------------------------MEDIA QUERY-----------------------------------------------------*/

@media all and (max-width: 900px) {

html {
  padding: 0;
  margin: 0;
  box-sizing: 0px;
  overflow-x: hidden;
  }

header {
  margin-top: -20px;
  background-color: #ADE2D0ff;
  margin-bottom: 5px;
  max-width: auto;
  max-height: 20vh;
  display: block;
  overflow-x: hidden;
  }

 @keyframes moveShip {
  0% {
    transform: translate3d(-450px, 0, 0);
  }
  100% {
    transform: translate3d(825px, 0, 0);
  }
} 

.PX {
  position: absolute;
  width: 35%;
  animation: moveShip linear infinite 3s;
  top: 15.5vh;
}

#data-container {
  position: absolute;
  left: 5vw;
  top: 32vh;
}

.picture {
  width: 200px;
  height: 350px;
}

.species {
  position: relative;
  top: -48vh;
  left: 27vw;
  max-width: 35%;
  }
.planet{
  position: relative;
  top: -27vh;
  left: 27vw;
  max-width: 37%;
  }
.voiced {
  position: relative;
  top: -36vh;
  left: 27vw;
  max-width: 45%;
  }
.profession { 
  position: absolute;
  top: 50vh;
  left: 0vw;
  font-size: 20px;
  max-width: 70%;
  }
  
#qpage {
  position: absolute;
  bottom: -12vh;
  left: 55vw;
  padding: 5vw;
  border: 3px solid black;
  border-radius: 60%;
  width: 25%;
  height: auto;
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.quotes {
  position: absolute;
  top: 70vh;
  left: 55vw;
}
  
.title-font {
  position: absolute;
  left: 20vw;
  top: 0vh;
  bottom: 83.5vh;
  width: 54%;
  height: auto;
  }

.watch {
  position: absolute;
  left: 11vw;
  top: 9vh;
  width: 50%;
  }


form {
  position: absolute;
  left: 7vw;
  top: 30vh;
  width: 100%;
  height: auto;
  }

.video {
  position: absolute;
  left: 50vw;
  top: 25vh;
  width: 40%;
  height: 40vh;
  }
  
.goodnews {
  position: absolute;
  left: 45vh;
  top: 22vh;
  width: 40%;
  }

footer {
  position: relative;
  top: 105vh;
  margin-top: 20px;
  margin-bottom: -25px;
  padding-bottom: 70px;
  background-color: #ADE2D0ff;
  }
}






/*------------------------------------------------------ MEDIA QUERY 2 -----------------------------------------------------*/





@media all and (max-width: 500px) {

.title-font{
  position: absolute;
  top: 0vh;
  left: 5vw;
  width: 90%;
  }

.watch {
  position: absolute;
  width: 50%;
  left: 25vw;
  top: 9vh;
  }

@keyframes moveShip {
  0% {
    transform: translate3d(-450px, 0, 0);
  }
  100% {
    transform: translate3d(800px, 0, 0);
  }
} 

.PX {
  position: absolute;
  top: 8vh;
  width: 50%;
  animation: moveShip linear infinite 3s;
}


.video {
  position: absolute;
  left: 13vw;
  top: 25vh;
  width: 75.5%;
  height: 40vh;
  }


.goodnews {
  position: absolute;
  left: 6vh;
  top: 22vh;
  width: 75.5%;
  }

.charselect {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 5.4vh;
  top: 55vh;
  width: 80%;
  }

form {
  position: relative;
  top: 60vh;
  width: 80%;
  left: 13vw;
  }



#data-container {
  position: absolute;
  left: 27vw;
  top: 80vh;
  }
  
.picture {
  width: 100px;
  height: 250px;
  }
  
.species {
  position: relative;
  top: -32vh;
  left: 30vw;
  font-size: 15px;
  max-width: 40%;
  }
.planet{
  position: relative;
  top: -18vh;
  left: 30vw;
  font-size: 15px;
  max-width: 60%;
  }
.voiced {
  position: relative;
  top: -20vh;
  left: 30vw;
  font-size: 15px;
  max-width: 40%;
  }
.profession { 
  position: absolute;
  top: 42vh;
  left: -13vw;
  font-size: 13px;
  max-width: 100%;
  }

.quotes {
  position: absolute;
  top: 135vh;
  left: 12vw;
  }

#qpage {
  position: absolute;
  /* bottom: 15vh; */
  top: 145vh;
  left: 2vw;
  /* padding: 10vw; */
  padding: 7vh 10vw 5vh 10vw;
  border: 3px solid black;
  border-radius: 60%;
  width: 75%;
  height: 24vh;
  font-size: 25px;
  color: black;
  font-weight: bold;
  }

footer {
  position: relative;
  top: 160vh;
  margin-top: 20px;
  margin-bottom: -25px;
  padding-bottom: 30px;
  background-color: #ADE2D0ff;
  }

}